@font-face {
    font-family: "oswald";
    src: url("/fonts/Oswald.ttf");
  }
  @font-face {
    font-family: "lora";
    src: url("/fonts/Lora.ttf");
  }
.container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: white;
    padding-top: 3rem;
}
.textBox{
    position: absolute;
    top: 5rem;
    max-width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.title{
    font-family: "oswald";
    letter-spacing: 2px;
    font-size: clamp(2rem, 2vw, 3rem);
    color: rgb(29, 28, 28);
    text-align: center;
    line-height: 1.9rem;
    letter-spacing: 1px;
    position: relative;
}
.title::after{
    position: absolute;
    content: "";
    width: 4rem;
    height: 0.4rem;
    bottom: -2rem;
    border-radius: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6E07F3;
}
.textBox{
    @media screen and (min-width: 1152px) {
        max-width: 50%;
      }
}
.textBox p {
    margin-top: 1rem;
    font-family: "lora";
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);
    line-height: 1.9rem;
    
}
.colorEffect {
    background: linear-gradient(120deg, #1d27b9, #439FEE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
.swiper{
    background-color: red;
}
