
.container {
  position: relative;
  background-color: rgb(255, 255, 255);
  margin-top: 3rem;
}
.container::before{
  position: absolute;
  content: "";
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 12rem;
  top: -12rem;
  z-index: 0;
}
.title {
  text-align: center;
  font-size: clamp(1.3rem, 4vw, 4rem);
  letter-spacing: 1px;
  color: rgb(29, 28, 28);
  position: relative;
  
}
.title::before{
  position: absolute;
    content: "";
    width: 4rem;;
    height: 0.4rem;
    bottom: -1rem;
    border-radius: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #180DD3;
}
.desc {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.8rem;
  max-width: 80%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5rem;
}