.container {
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
   
}
.card {
  padding: 2rem;
    position: relative;
    display: block;
    height: 30rem;  
    border-radius: calc(40 * 1px);
    overflow: hidden;
    text-decoration: none;
    background-color: #ffffff;
    box-shadow: 1px 4px 6px 3px rgba(0, 0, 0, 0.1);
  }
  .image {      
    width: 100%;
    height: auto;
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(40 * 1px);    
    background-color: rgb(147,198,241);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }

  .card:hover .overlay {
    transform: translateY(0);
  }
  .header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(40 * 1px) 0 0 0;    
    background-color: rgb(147,198,241);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  .arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  .arc path {
    fill: rgb(147,198,241);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }   
  .card:hover .header {
    transform: translateY(0);
  }
  .thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  .title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  .status {
    font-size: .8em;
    color: #D7BDCA;
  }