.container {
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
   
}
.card {
    padding: 2rem 0;
    position: relative;
    display: flex;
    align-items: flex-start;
    min-height: 29.5rem;  
    border-radius: calc(40 * 1px);
    overflow: hidden;
    text-decoration: none;
    background-color: rgb(243,243,242);
    box-shadow: 1px 4px 6px 3px rgba(0, 0, 0, 0.1);
  }
.frontCard{
    min-height: 36rem;
  }
  .image {      
    width: 100%;
    height: auto;
  }
  .desc{
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 2rem;
    max-width: 90%;
  }

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(40 * 1px);    
    background-color: rgb(147,198,241);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  .header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1em;
    padding:2rem 0;
    border-radius: calc(40 * 1px) 0 0 0;    
    background-color: rgb(147,198,241);
    transform: translateY(-100%);
    transition: .3s ease-in-out;
  }
  .arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 99%;
    right: 0;      
    z-index: 1;
  }
  .arc path {
    fill: rgb(147,198,241);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }
  .arrow{
    border: 2px solid white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.358);
    animation: upDown 2s infinite ease-in-out;
    margin: 0 auto;
    transform: rotate(180deg);
    cursor: pointer;
  }
  .icon {
    font-size: 2rem;
    color: white;
    transition: .3s;
  } 
  .technosHeader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }
  .iconTechnos{
    font-size: 6rem;
  }
  .rotate180{
    transform: rotate(180deg);
  }
  .toTop{
    transform: translateY(0);
  }
  .thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  .title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
    position: relative;
  }

  .title::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 0.4rem;
    bottom: -0.4rem;
    background-color: #439fee;
    left: 0;
  }

  .imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    flex-wrap: wrap;
    max-width: 90%;
    margin: -2rem auto;
    padding: 1rem 0 2.5rem 0;
  }
  .pics{
    flex-basis: 40%;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
  }
  .picsFront{
    flex-basis: 18%;
    position: relative;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-around;
  }
  .pic{
    filter: opacity(0.5);
    transition: 0.3s;
  }
  .pic:hover{
    opacity: 1;
  }

  .techName{
    color: black;
  }

  @keyframes  upDown{
    0%, 100%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-1rem);
    }
  }