@font-face {
  font-family: "oswald";
  src: url("/fonts/Oswald.ttf");
}
@font-face {
  font-family: "lora";
  src: url("/fonts/Lora.ttf");
}
.container {
  position: relative;
}
/* .gradient{
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  width: 100%;
  height: 50rem;
  background-image: radial-gradient(circle at 142% 70%, #6E07F3 50%, #ffffff00 20%);
  border-radius: 1px;
  position: absolute;
  background-size:100%;
  background-repeat: no-repeat;
  top: 0;
  }
} */
.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  overflow: hidden;
}
.welcom {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  max-width: 90%;
  margin: 9rem auto 0 auto;
  position: relative;
  @media screen and (min-width: 768px) {
    min-height: 25rem;
    justify-content: center;
  }
  @media screen and (min-width: 1240px) {
    text-align: left;
    display: flex;
    align-items: flex-start;
    min-height: 45rem;
    justify-content: center;
    max-width: 90%;
    margin: 0;
    padding-top: 5rem;
  }
}
.text{
  font-family: "lora";
  font-size:  clamp(1.1rem, 3vw, 1.2rem );
  line-height: clamp(2rem, 3vw, 2.5rem );
  font-weight: 600;
  position: relative;
  max-width: 42rem;
}
.desc{
  font-size: clamp(1rem, 2vw, 1.2rem);
  font-family: "lora";
  font-weight: 600;
  position: relative;
}
.desc::after{
  content: " |";
  position: absolute;
  right: 0;
  width: 100%;
  color: #5b5b5b;
  background-color: #ffffff;
  animation: typing 3s steps(27) forwards, caret 1s infinite ;
}
@keyframes typing {
	100% { width: 0 }
}
@keyframes caret {
	50% { color: transparent }
}
.welcom p{
  font-family: "oswald";
  font-size:  clamp(1.9rem, 3vw, 4rem );
  line-height: clamp(3rem, 4vw, 4.5rem );
  text-transform: uppercase;
  @media screen and (min-width: 1240px) {
    max-width: 45%;
  }
}
.svgContainer{
    display: none;
  @media screen and (min-width: 1240px) {
    display: block;
    position: absolute;
    right: 6.5rem;
    max-width: 22rem;
    transform: translateX(200%);
    transition: all 0.5s ease-in-out;
    animation: showSvg 1s forwards;
    z-index: 2;
    animation: move 2s infinite ease alternate;
    @media screen and (min-width: 1723px) {
      bottom: 8rem;
      right: 3.4rem;
    }
  }
  
}
@keyframes move {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateX(0) scale(1.03);
  }
}
.svg{
  width: 100%;
  height: auto;
}
.textContainer {
  padding-top: 4rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.imgcontainer {
  margin-top: 3rem;
  padding: 2rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 1;
  border: 1px solid rgba(114, 103, 103, 0.739);
  background-color: #6E07F3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.358);
  min-height: 30rem;
  @media screen and (min-width: 1240px) {
    margin-top: -3rem;
    padding-bottom: 13rem;
  }
}
.imgcontainer h3 {
  display: flex;
  font-family: "lora";
  flex-direction: column;
  letter-spacing: 2px;
  gap: 2rem;
  color: white;
  font-size: clamp(1.9rem, 3vw, 2.1rem);
  text-align: center;
  line-height:  clamp(2.3rem, 2vw, 2.5rem);
  padding-top: 2rem;
  
}
.imgrounder{
  border-radius: 50%;
  z-index: 1;
   box-shadow: 0 4px 6px #6E07F3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6E07F3;
}
.imgcontainer p{
  margin-top: 1rem;
  max-width: 90%;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-align: center;
  line-height: 2rem;
  z-index: 1;
  color: rgb(228, 224, 224);
  font-family: "lora";
  @media screen and (min-width: 1240px) {
    max-width: 50%;
    text-align: justify;
  }
}
.img {
  height: auto;
  width: auto;
  transform: rotate(15deg);
  border-radius: 50%;
}
.colorEffect{
  background: linear-gradient(120deg, #1d27b9, #439FEE);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

