@font-face {
  font-family: "public";
  src: url("/fonts/PublicSans.ttf");
}
.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  height: 4.5rem;
  justify-content: space-between;
  position: relative; 
  min-width: 100%;
  z-index: 3;
}

.logoImg{
  width: 100%;
  height: auto;
}
.dark {
  fill: white;
  border-color: white;
  color: white;
}
.signtext{
  font-size: 2rem;
}
.container.active {
  display: flex;
  align-items: center;
  height: 7rem;
  justify-content: space-between;
  min-width: 80%;
  max-width: 95%;
  margin: 0 auto;
  background-color: black;
}

.logo {
  display: none;
    /* display: flex;
    gap: 1rem;
    align-items: center; */
}
.img {
  background-color: #7352ba;
  border-radius: 50%;
  transform: rotate(17deg);
  border: 3px solid rgb(19, 25, 45);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 15%;
  object-position: 15%;
}
.name{
  font-weight:bold;
  font-size: 1.3rem;
}
.ul {
  position: fixed;
  top: 0%;
  min-width: 100vw;
  height: 100vh;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: -150%;
  gap: 2rem;
  list-style: none;
  font-size: 1rem; 
  backdrop-filter: blur(10px);
  transition: 0.5s;
  @media screen and (min-width: 768px) {
        backdrop-filter: none;
        display: flex;
        position: relative;
        flex-direction: row;
        left: 0;
        gap: 1.5rem;
        min-width: 50%;
      }
      
}
.active {
  left: 0;
  position: fixed;
  top: 0%;
  min-width: 100vw;
  height: 100vh;
  z-index: 2;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  font-size: 1rem; 
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.543);
  transition: 0.4s;
  @media screen and (min-width: 768px) {
    backdrop-filter:none ;
  }
    
  
}

.li{
  transition: 0.5s;;
  font-size: 1.3rem;
  font-weight: 700;
  background: linear-gradient(to right, rgb(100, 200, 200), rgb(100, 200, 200)), linear-gradient(to right, #7352ba, rgb(255, 0, 180), #7352ba);
  background-size: 0% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  @media screen and (min-width: 768px) {
        font-size: clamp(1.2rem, 2vw, 1.2rem);
      }
}
.li a {
  font-family: "lora";
  font-weight: 500;
}
.li:hover{
  background-size: 0 3px, 100% 3px;
}
.logout {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  background-color: #170dd3;
  color: rgb(255, 255, 255);
}
.btnContainer{
  z-index: 3;
  @media screen and (min-width: 768px) {
        display: none;
      }
}

.btn {
  background: transparent;
  border-radius: 0.3rem;
  border: 2px solid;
  cursor: pointer;
}
.line {
  transition:
  y 300ms ease-in,
  rotate 300ms ease-in 300ms,
  opacity 0ms 300ms
  ;
  transform-origin: center;
}

.btn :is(.top, .bottom) {
  y:45
}
.btn .top {
  rotate:45deg
}
.btn .middle {
  opacity: 0;
}
.btn .bottom {
  rotate:-45deg
}
