@font-face {
  font-family: "oswald";
  src: url("/fonts/Oswald.ttf");
}
@font-face {
  font-family: "lora";
  src: url("/fonts/Lora.ttf");
}
.container {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    background-color: transparent;
    position: relative;
    margin: 8rem 0;
}
.dark{
  background-color: #161515;
}
.dark::before {
  background-color: #161515 !important;
}

.colorEffect {
  background: linear-gradient(120deg, #1d27b9, #439FEE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  .form {
    margin-top: -6rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    width: 90%;
    padding: 3rem 0;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.358);
    @media screen and (min-width: 868px) {
      width: 40rem;
    }
  }
  .textBox{
    min-height: 30rem;
    background-color: #6E07F3;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 12rem;
    @media screen and (min-width: 1152px) {
      padding: 4rem 0 10rem 0;
    }
  }
  .title {
    font-size: clamp(2rem, 2vw, 3rem);
    text-align: center;
    line-height: 1.9rem;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 3rem;
    font-family: "oswald";
    letter-spacing: 2px;
    color: white;
  }
  .title::after{
    position: absolute;
    content: "";
    width: 4rem;
    height: 0.4rem;
    bottom: -2rem;
    border-radius: 0.3rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #6E07F3;
}
  .inputContainer{
    position: relative;
    max-width: 24rem;
    margin: 0 auto;
  }
  .textBox p {
    font-family: "lora";
    font-size: clamp(1.1rem, 1.5vw, 1.2rem);;
    max-width: 90%;
    margin: 0 auto;
    line-height: 1.7rem;
    color: #E4E0E0;
    @media screen and (min-width: 1152px) {
      max-width: 50%;
    }
  }
  .label{
    position: absolute;
    top: 2rem;
    left: 20px;
    color: rgb(169, 161, 161);
    left: 1rem;
    transition: 0.3s;
    font-size: 1rem;
  }
 
.input {
    resize: none;
    display: inline-block;
    margin: 1rem 0;
    padding: 1rem 1rem;
    border: 1px solid rgb(169, 161, 161);
    width: 100%;
    border-radius: 4px;
    outline: 0;
    background-color: transparent;
    border-radius: 1rem;
}
.cut {
  position: absolute;
  background-color:  rgb(255, 255, 255);
  width: 3rem;
  height: 0.5rem;
  top: 0.8rem;
  left: 0.6rem;
  display: none;
}
.cuttel{
  width: 5.2rem;
}
.cutpre{
  width: 4.2rem;
}
.cutmes{
  width: 4.4rem;
}
.input:focus-within{
    border-color: #439fee;
}
 .input:focus ~ .label {
  transform: translateX(0rem
  ) translateY(-1.6rem);
  font-size: 0.9rem;
  color: #439fee;
}
 .input:focus ~ .cut {
  display: block;
}

.btn {
    padding: 0.5rem 2rem;
    border: none;
    background-color: #6E07F3;
    color: white;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
    border-radius: 0.5rem;
    width: 100%;
}
.btn:hover{
  transform: translateY(-10%)
}

